<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre a McFly Computers</h2>
            <p class="footer__about-text">
                A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção gráfica para preencher os espaços de texto em publicações para testar e ajustar aspectos visuais antes de utilizar conteúdo real. Wikipédia
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> info@mcflycomputers.com</li>
                <li><i class="fa-solid fa-phone"></i> +55 85 988798959</li>
                <li><i class="fa-brands fa-whatsapp"></i> +55 85 988798959</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>